<!DOCTYPE html>
<html lang="en">
<th:block th:fragment="header">
    <div class="d-flex" id="wrapper">
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 me-3 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" th:href="@{/}"><i class="bi bi-house-fill"></i>&nbsp;ホーム</a>
                            </li>
                            <th:block th:if="${session.id == null}">
                                <li class="nav-item"><a class="nav-link" th:href="@{/user/login}">ログイン</a></li>
                            </th:block>
                            <th:block th:unless="${session.id == null}">
                                <li class="nav-item"><a class="nav-link" th:href="@{/user/logout}">ログアウト</a></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </nav>
</th:block>
</html>