<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Bulletin Board</title>
    <th:block th:replace="fragments/config::config"></th:block>
</head>
<body>
<th:block th:replace="fragments/header::header"></th:block>
        <!-- ページの内容 -->
        <div class="container-sm">
            <div class="justify-content-center">
                <div class="my-3 mb-3">
                    <div class="text-center">
                        <img src="/images/image.png" alt="My Image" width="500"/>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 login-container">
                    <form id="user" th:action="@{/user/login}" method="post" class="row g-3" >
                        <div class="form-group mb-2">
                            <label class="mb-0">アカウント</label>
                            <input type="text" class="form-control mt-2" name="account" placeholder="アカウント"/>
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label">パスワード</label>
                            <input type="password" class="form-control" name="password" placeholder="パスワード"/>
                        </div>
                        <div class="text-center mb-2">
                            <button type="button" class="btn btn-primary col-12 mb-2" onclick="goLogin()">ログイン</button>
                            <button type="button" class="btn btn-secondary col-12" th:onclick="|location.href='@{/user/join}'|">会員登録</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function goLogin(){
        var form = document.getElementById("user");

        // アカウントが空かどうかをチェック
        if(form.account.value === ""){
            alert("アカウントを入力してください！");
            form.account.focus();
            return false;
        }

        // パスワードが空かどうかをチェック
        if(form.password.value === ""){
            alert("パスワードを入力してください！");
            form.password.focus();
            return false;
        }
        // フォームを送信
        form.submit();
    }
</script>
</body>
</html>
