<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Bulletin Board</title>
    <th:block th:replace="fragments/config::config"></th:block>
</head>
<body>
<th:block th:replace="fragments/header::header"></th:block>
        <!-- ページコンテンツ -->
        <div class="container-sm">
            <h3 class="text-center mb-2 mt-5" th:text="${dto.title}">title</h3>
            <div class="d-flex justify-content-center mb-3">
                <div>
                    <span class="text-muted me-1" th:text="${dto.userName}">userName</span>
                    <span class="text-muted me-1">|</span>
                    <span class="text-muted me-1" th:text="${dto.postedAt}">postAt</span>
                    <span class="text-muted me-1">|</span>
                    <i class="bi bi-eye text-muted"></i>&nbsp<span class="text-muted me-1" th:text="${dto.hit}">hit</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-5">
                <div class="border-bottom border-dark-subtle w-75"></div>
            </div>
            <div class="d-flex justify-content-center mb-5">
                <div class="w-75 mb-3">
                    <p class="mb-5" th:text="${dto.content}">content</p>
                    <div class="d-flex justify-content-center">
                        <div class="border-bottom border-dark-subtle w-100 mt-3 mb-3"></div>
                    </div>
                    <div class="row mb-4 post">
                        <div class="col-12 text-center">
                            <button class="btn btn-light btn-sm" th:onclick="|location.href='@{/board}'|">リスト</button>
                            <button class="btn btn-light btn-sm" th:if="${session.id == dto.userId}" th:onclick="|location.href='@{/board/post/{postId}/update(postId=${dto.id})}'|">修正</button>
                            <button class="btn btn-light btn-sm" th:if="${session.id == dto.userId}" th:onclick="|location.href='@{/board/post/{postId}/delete(postId=${dto.id})}'|">削除</button>
                        </div>
                    </div>
                    <!-- コメントを書くためのフォーム -->
                    <div class="row">
                        <form id="reply">
                            <input type="hidden" name="postId" id="postId" th:value="${dto.id}">
                            <div class="col-12" id="commentCount"></div>
                            <div class="col-12" th:if="${session.id != null}">
                                <textarea class="form-control mb-3" name="content" id="content" rows="3"></textarea>
                            </div>
                        </form>
                        <div class="col-12 text-end" th:if="${session.id != null}">
                            <button type="button" class="btn btn-primary btn-sm" onclick="replySave()"><i class="bi bi-pencil"></i>&nbsp;&nbsp;コメントを書く
                            </button>
                        </div>
                        <div class="d-flex justify-content-center mb-0">
                            <div class="border-bottom border-dark-subtle w-100 mt-3 mb-3"></div>
                        </div>
                    </div>
                    <!-- コメントリストを表示する部分 -->
                    <div class="row" id="comments"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    // コメントを登録
    function replySave(){
        var replyForm = document.getElementById("reply");
        if (valueCheck(replyForm.content, 1, 1000, '内容')) return false; // コメントの内容を確認

        const reply = {
            "post_id" : replyForm.postId.value, // コメントをつける投稿のID
            "user_id" : [[ ${session.id} ]], // 登録するユーザーのID
            "content" : replyForm.content.value //　コメント内容
        }

        // サーバーに非同期リクエス
        $.ajax({
            type: "POST",
            url: "/reply/write",
            data: JSON.stringify(reply),
            dateType: "json",
            contentType: "application/json",
            success : function(json) {
                alert("登録成功！");
                replyForm.content.value = ""; // コメント入力textareaをリセット
                getReplyList();  // コメントリストの初期化
            },
            error : function(error) {
                alert("error : " + error); //　エラーメッセージ
            }
        });
    }

    // 返信コメントを登録
    function nestedReplySave(replyId){
        var nestedReplyForm = document.getElementById("nestedReply" + replyId);
        if (valueCheck(nestedReplyForm.content, 1, 1000, '内容')) return false;　// 返信コメントの内容を確認

        const nestedReply = {
            "reply_id" : replyId,　// 返信コメントをつけるコメントのID
            "user_id" : [[ ${session.id} ]], // 登録するユーザーのID
            "content" : nestedReplyForm.content.value // コメント内容
        }

        // サーバーに非同期リクエス
        $.ajax({
            type: "POST",
            url: "/nested-reply/write",
            data: JSON.stringify(nestedReply),
            dateType: "json",
            contentType: "application/json",
            success : function(json) {
                alert("登録成功！");
                nestedReplyForm.content.value = ""; // 返信コメント入力textareaをリセット
                getReplyList(); // コメントリストの初期化
            },
            error : function(error) {
                alert("error : " + error); //　エラーメッセージ
            }
        });
    }

    // コメントを削除
    function replyDelete(id){
        if(confirm("本当に削除しますか？")){　// 削除の確認
            // サーバーに非同期リクエス
            $.ajax({
                type: "POST",
                url: "/reply/delete",
                data: {"id" : id},
                dateType: "json",
                success : function() {
                    alert("削除成功！");
                    getReplyList(); // コメントリストの初期化
                },
                error : function(error) {
                    alert("error : " + error);
                }
            });
        }
    }

    // 返信コメントを削除
    function nestedReplyDelete(id){
        if(confirm("本当に削除しますか？")){　// 削除の確認
            // サーバーに非同期リクエス
            $.ajax({
                type: "POST",
                url: "/nested-reply/delete",
                data: {"id" : id},
                dateType: "json",
                success : function() {
                    alert("削除成功！");
                    getReplyList(); // コメントリストの初期化
                },
                error : function(error) {
                    alert("error : " + error); // エラーメッセージ
                }
            });
        }
    }

    // コメントリストのレンダリング
    function getReplyList() {
        var replyForm = document.getElementById("reply");

        // サーバーに非同期リクエス
        $.ajax({
            type: "GET",
            url: "/reply/list",
            data: { postId: replyForm.postId.value },
            contentType: "application/json",
            success: function(json) {
                // コメント数の初期化、計算して出力
                const commentCountSection = document.getElementById('commentCount');
                var commentCount = 0;
                json.forEach(reply => {
                    commentCount += 1;
                    reply.nested_reply_entity_list.forEach(nestedReply => {
                        commentCount += 1;
                    });
                });
                commentCountSection.innerHTML = "<h6 className='mb-1'>コメント " + commentCount + "&ensp;<i class='bi bi-chat-dots'></i></h6>"



                const commentSection = document.getElementById('comments');
                commentSection.innerHTML = ""; // コメントリストの初期化

                // コメントリストを生成
                json.forEach(reply => {
                    const commentTemplate = createCommentTemplate(reply);
                    commentSection.appendChild(commentTemplate);

                    // session IDを取得
                    var sessionId = [[${session.id}]];

                    //　session ID　がない時、返信コメントの作成ボタンを隠す
                    if (sessionId === null) {
                        const replyWriteBtn = document.getElementById(`replyWrite-btn${reply.user_id}`);
                        replyWriteBtn.remove();
                    }

                    // session ID　と　コメント作者 IDが違うとコメントの修正、削除のボタン隠す
                    if (reply.user_id !== sessionId) {
                        const replyDeleteBtn = document.getElementById(`replyDelete-btn${reply.user_id}`);
                        replyDeleteBtn.remove();
                    }

                    // session ID　と返信コメント作者 IDが違うとコメントの修正、削除のボタン隠す
                    if (reply.nested_reply_entity_list.length > 0) {
                        reply.nested_reply_entity_list.forEach(nestedReply => {
                            if (nestedReply.user_id !== sessionId) {
                                const nestedReplyDeleteBtn = document.getElementById(`nestedReplyDelete-btn${nestedReply.user_id}`);
                                nestedReplyDeleteBtn.remove();
                            }
                        });
                    }
                });
            },
            error: function (error) {
                alert("error : " + error);
            }
        });
    }

    //　コメントリストのレンダリング
    function createCommentTemplate(reply) {

        const commentDiv = document.createElement('div');

        commentDiv.classList.add('row'); // Bootstrap 클래스로 스타일링
        commentDiv.classList.add('m-0');
        commentDiv.classList.add('p-0');

        commentDiv.innerHTML = `
                <div class="col-6">
                    <h6 class="text-start">${reply.user_name}</h6>
                </div>
                <div class="col-6 text-end">
                    <p>${formatDate(reply.replied_at)}</p>
                </div>
                <div class="col-9 mb-2" style="word-break:break-all">
                    <p>${reply.content}</p>
                </div>
                <div class="col-3 text-end mb-3">
                    <button class="btn btn-light btn-sm" id="replyDelete-btn${reply.user_id}" onclick="replyDelete(${reply.id})">삭제</button>
                    <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse" id="replyWrite-btn${reply.user_id}"
                            data-bs-target="#Reply${reply.id}" aria-expanded="false" aria-controls="Reply${reply.id}">대댓글
                    </button>
                </div>
                <div class="collapse col-12 text-end mb-3" id="Reply${reply.id}">
                    <form id="nestedReply${reply.id}">
                        <div>
                            <textarea name="content" class="form-control mb-3 mt-3" rows="3"></textarea>
                            <button type="button" class="btn btn-primary btn-sm" onclick="nestedReplySave(${reply.id})">답글 작성&nbsp;&nbsp;<i class="bi bi-pencil"></i></button>
                        </div>
                    </form>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <div class="border-bottom border-dark-subtle w-100"></div>
                </div>
                `;

        if(reply.nested_reply_entity_list.length > 0) {
            reply.nested_reply_entity_list.forEach(nestedReply => {

                const nestedReplyDiv = document.createElement('div');
                nestedReplyDiv.classList.add('row');
                nestedReplyDiv.classList.add('m-0');
                nestedReplyDiv.classList.add('p-0');

                nestedReplyDiv.innerHTML = `
                    <div class="col-1 text-center"><i class="bi bi-arrow-return-right"></i></div>
                    <div class="col-5">
                        <h6 class="text-start">${nestedReply.user_name}</h6>
                    </div>
                    <div class="col-6 text-end">
                        <p>${formatDate(nestedReply.replied_at)}</p>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-9 mb-2" style="word-break:break-all">
                        <p>${nestedReply.content}</p>
                    </div>
                    <div class="col-2 text-end mb-3">
                        <button class="btn btn-light btn-sm" id="nestedReplyDelete-btn${nestedReply.user_id}" onclick="nestedReplyDelete(${nestedReply.id})">삭제</button>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border-bottom border-dark-subtle w-100"></div>
                    </div>`;

                commentDiv.appendChild(nestedReplyDiv);
            });

        }
        return commentDiv;
    }

    // 初期データのロード
    $(document).ready(function() {
        getReplyList();　// コメントリストのレンダリング
    });

</script>
</body>
</html>
