<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Bulletin Board</title>
    <th:block th:replace="fragments/config::config"></th:block>
    <script>
        //　作成フォームをリセット
        function reset(){
            document.getElementById('content').value = "";
            document.getElementById('title').value = "";
            document.getElementById('title').focus();
        }
    </script>
<body>
<th:block th:replace="fragments/header::header"></th:block>
        <!-- ページの内容 -->
        <div class="container-sm">
            <div class="justify-content-center">
                <div class="my-3 mb-3">
                    <div class="text-center">
                        <img src="/images/image.png" alt="My Image" width="500"/>
                    </div>
                </div>
            </div>
            <form th:action="@{/board/post/{postId}/update(postId=${dto.id})}" method="post">
                <input type="hidden" name="userId" id="userId" th:value="${session.id}"/>
                <div class="d-flex justify-content-center">
                    <div class="row w-75 mb-2">
                        <div class="col-6 mb-2">
                            <label class="mb-0">登録者</label>
                            <input type="text" name="userName" id="userName" class="form-control" th:value="${dto.userName}" readonly/>
                        </div>
                        <div class="col-6">
                            <label class="mb-0">修正日</label>
                            <input type="text" class="form-control" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" readonly/>
                        </div>
                        <div class="col-12 mb-2">
                            <label class="mb-0">タイトル</label>
                            <input type="text" name="title" id="title" class="form-control" th:value="${dto.title}" placeholder="タイトルを入力してください。"/>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="mb-0">内容</label>
                            <textarea class="form-control" name="content" id="content" th:text="${dto.content}" rows="15" placeholder="内容を入力してください。"
                                      style="resize: none"></textarea>
                        </div>
                        <div class="col-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/board/post/{postId}(postId=${dto.id})}'|">キャンセル</button>
                                <a class="btn btn-secondary" onclick="javascript:reset()">書き直す</a>
                                <button type="submit" class="btn btn-primary">修正</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
